.DS_Store
Thumbs.db

.idea/
*.iml

.gradle/
build/
.cxx/
.externalNativeBuild/
captures/

local.properties

*.jks
*.keystore
*.pem
key.properties
signing-config.properties

*.apk
*.aab
*.ap_

*.log
*.tmp
*.temp

.Spotlight-V100
.Trashes